body{
	padding-top: 70px;
	background: #f4f4f4;
	overflow-x: hidden;
}
ul{
	float: left;
	display: inline-block;
	position: absolute;
}
ul li ul{
	opacity: 0;
}
/*pillar text....*/
aside{
	padding-top: 50px;
}
aside h1 {
    font-size: 88px;
    font-weight: 800;
    letter-spacing: 0;
}
aside p{
    font-size: 27px;
    color: #76769D;  
}
aside section button{
	padding: 10px 50px 10px 50px;
	margin: 5em;
}
.click1{
	background: #425CBB;
	color: #fff;
}
#get-app:hover{
	border-color: #000;
}
.img{
	padding-left: 30px;
}
/*.row-a div{
	border: 1px solid #ccc;
	background: #fff;
	height: 300px;
	margin: 40px;
	overflow: hidden;
}*/
#showcase{
	padding: 6em 0 6em 0;
}
.row-X{
	background: #fff;
}
.icon{
	font-size: 45px;
}
.row div h3 {
    font-size: large;
    font-weight: 600;
}
.imagex{
	background-image: url('../images/img.jpg');
	/*background-repeat: no-repeat;*/
    background-size: cover; 
	/*left: 0;*/
	/*right: 0;	*/
	min-height: 500px;
	height: auto;
	background-attachment: fixed;
	background-position: 100vw 100vh;
}
.box div{
	/*background: #252525;*/
	margin: 40px;
}
.row-c-1{
	height: 500px;
	border: 1px solid #ccc;
	margin: 6px;
} 
.boxx{
	height: 100%;
	/*margin-left: 5em;*/
}
.box-i{
	height: 200px;
}
.boxx-1{
	border: 1px solid #ccc;
	height: 48%;

}
/*screen shot content..strs*/
.blackd{
	background: #000;
	bottom: 20px;
}
#screentext{
	color: #fff;

}
.b-item{
	padding-bottom: 6em; 
}
/*end screen shot module*/
.body-x{
	margin-top: 70px;
}
.box-x1{
	height: 200px;
	margin: 45px;
}
.text-x{
	font-weight: 700;
}
.body-x .box-x1 .icon-x1{
	font-size: 50px;
	top: 40px;
}
.body-x .box-x1 header{
	padding-right: 130px;
	text-align: center;
	font-weight: 600;
}
